

#panel{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: darkslategray;
    top: 0;
    left: 0;
    color: white !important; 
   
}

#content{
    width:calc(100% - 200px) ;
    position: relative;
    left: 200px;
    top: 0px;
    
}

#panel>ul>li>a>span{
    color: white;
    padding-left: 15px;
}


.operation-wrapper .operation-icon {
    width: 20px;
    cursor: pointer;
  }